@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins" , sans-serif;
  color: #222;
}

.introduction{
    padding: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    color: rgb(221, 221, 221);
}

.Intro-Background{
    background-color: #222;
    width: 100%;
}

.graph_heading, .graph_heading_box{
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    font-size: 24pt;
    color: #008080;
}

.graph_heading_box{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    background-color:  rgb(221, 221, 221);
}

.what_is_graph{
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 10rem;
    color: #222;
    font-size: 15pt;


}